.location form {
  display: flex;
  align-items: center;
}

.location form h3 {
  padding: 0rem 1rem;
}

.location form input {
  flex: 1;
  border-left: 0.0625rem solid var(--color-secondary);
  border-right: 0.0625rem solid var(--color-secondary);
  padding: 1em 0.5em;
  font-style: italic;
}

.location form button {
  width: 3.25rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
