.start-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.start-screen h1 {
  padding-bottom: 1em;
  color: var(--color-quaternary);
}
.start-screen h2 {
  padding-bottom: 0.3em;
  color: var(--color-quaternary);
}
